{% extends "bootstrap/base.html" %}
{% block title %}AP列表{% endblock %}
{% block navbar %}
    {% include 'navibar.html' %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
       <legend>客户端列表：</legend>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">类型</th>
      <th scope="col">MAC地址</th>
      <th scope="col">IP地址</th>
      <th scope="col">客户端名称</th>
    </tr>
  </thead>
  <tbody>
     {% for line in apList %}
        <tr class="table-active">
          <th scope="row">客户端</th>
         {% for item in line.split("   ") %}
             <td>{{ item }}</td>
         {% endfor %}
          </tr>
     {% endfor %}
  </tbody>
  </table>
  </div>
</div>

{% endblock %}