{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}欢迎{% endblock %}
{% block navbar %}
    {% include 'navibar.html' %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
      <form action="" method="post">
           <fieldset>
          <div class="form-group" style="width:600px;">
                <label class="col-form-label" for="inputDefault">用户名：</label>
                <input type="text" class="form-control" name="username" placeholder="请输入用户名">
          </div>
               <input type="submit" value="登录" class="btn btn-primary">
           </fieldset>
      </form>
  </div>
</div>

{% endblock %}